body {
    margin: 0px;
}


.container {
    width: 100px;
    height: 100px;
    background-color: red;
    /* padding-top: 10px;
    padding-bottom: 10px;
    padding-right: 10px;
    padding-left: 10px; */
    /* padding: 10px; */
    /* border: 10px solid black; */
    /* margin: 50px; */
    box-sizing: border-box;
}